name: Package Application with Pyinstaller

on:
  push:
    branches:
  pull_request:
    branches:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main

    - uses: actions/upload-artifact@v2
      with:
        name: colour
        path: |
          colour.exe
          config.properties


